# Hey there, <a alt="Slackmojis - The Best Custom Slack Emojis" href="https://slackmojis.com/"><img src="https://emojis.slackmojis.com/emojis/images/1531847550/4232/blob-devil.gif?1531847550" width="40" /></a> I'm Kubokawa - aka _Kiai_

Welcome to my page!

I'm Kubokawa, Student developer from Tsukuba, Japan.

### Strengths

<p align="center">
    <a href="https://nextjs.org/" target="_blank" rel="noopener noreferrer"><img alt="The React Framework for Production - Next.js gives you the best developer experience with all the features you need for production: hybrid static & server rendering, TypeScript support, smart bundling, route pre-fetching, and more. No config needed." src="https://img.shields.io/badge/-NextJs-192b9f?style=for-the-badge&logo=Next.js&logoColor=white" /></a>
    <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer"><img alt="TypeScript: Typed JavaScript at Any Scale." src="https://img.shields.io/badge/-TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white" /></a>
    <a href="https://www.docker.com/" target="_blank" rel="noopener noreferrer"><img alt="Docker: Empowering App Development for Developers" src="https://img.shields.io/badge/-Docker-46a2f1?style=for-the-badge&logo=docker&logoColor=white" /></a>
    <a href="https://fastapi.tiangolo.com/" target="_blank" rel="noopener noreferrer"><img alt="FastAPI is a modern, fast (high-performance), web framework for building APIs with Python 3.6+ based on standard Python type hints." src="https://img.shields.io/badge/-FastAPI-009688?style=for-the-badge&logo=FastAPI&logoColor=white" /></a>
</p>

#### Base skills

<p align="center">
    <a href="https://reactjs.org/" target="_blank" rel="noopener noreferrer"><img alt="React – A JavaScript library for building user interfaces" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" /></a>
    <a href="https://redux-toolkit.js.org/" target="_blank" rel="noopener noreferrer"><img alt="The official, opinionated, batteries-included toolset for efficient Redux development" src="https://img.shields.io/badge/-Redux%20Toolkit-764ABC?style=flat-square&logo=redux&logoColor=white" /></a>
    <a href="https://git-scm.com/" target="_blank" rel="noopener noreferrer"><img alt="Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency." src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" /></a>
    <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer"><img alt="Django: The Web framework for perfectionists with deadlines" src="https://img.shields.io/badge/-Django-092E20?style=flat-square&logo=Django&logoColor=white" /></a>
<!--
    <a alt="" href="" target="_blank" rel="noopener noreferrer"><img alt="Google Cloud Platform" src="https://img.shields.io/badge/-Google_Cloud_Platform-1a73e8?style=flat-square&logo=google-cloud&logoColor=white" /></a>
    <a alt="" href="" target="_blank" rel="noopener noreferrer"><img alt="d3js" src="https://img.shields.io/badge/-D3.js-F9A03C?style=flat-square&logo=d3.js&logoColor=white" /></a>
    <a alt="" href="" target="_blank" rel="noopener noreferrer"><img alt="Styled Components" src="https://img.shields.io/badge/-Styled_Components-db7092?style=flat-square&logo=styled-components&logoColor=white" /></a>
    <a alt="" href="" target="_blank" rel="noopener noreferrer"><img alt="NGINX" src="https://img.shields.io/badge/-NGINX-269539?style=flat-square&logo=NGINX&logoColor=white" /></a>
-->
</p>

### History

<p align="center">
  <a href="#history" target="_blank" rel="noopener noreferrer"><img alt="profile details of Ningensei848" src="https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/0-profile-details.svg" width="100%" /></a>
  <a href="#history" target="_blank" rel="noopener noreferrer"><img alt="activity stats of Ningensei848" src="https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/3-stats.svg" width="25%"></a><a href="#history" target="_blank" rel="noopener noreferrer"><img alt="repos-per-language of Ningensei848" src="https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/1-repos-per-language.svg" width="37%" /></a><a href="#history" target="_blank" rel="noopener noreferrer"><img alt="most-commit-language of Ningensei848" src="https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/2-most-commit-language.svg" width="37%" /></a>
  <br />
  These graphs are generated via <a href="https://github.com/vn7n24fzkq/github-profile-summary-cards" target="_blank" rel="noopener noreferrer"><code>profile-summary-card-output</code></a>.<br />
</p>

### Interests

<p align="center">
  <a href="https://en.wikipedia.org/wiki/Semantic_Web" target="_blank" rel="noopener noreferrer"><img alt="The Semantic Web is an extension of the World Wide Web through standards set by the World Wide Web Consortium (W3C). The goal of the Semantic Web is to make Internet data machine-readable." src="https://img.shields.io/badge/-Semantic%20Web-005A9C?style=flat-square&logo=Semantic%20Web&logoColor=white" /></a>
  <a href="https://graphql.org/" target="_blank" rel="noopener noreferrer"><img alt="GraphQL is a query language for APIs and a runtime for fulfilling those queries with your existing data. GraphQL provides a complete and understandable description of the data in your API, gives clients the power to ask for exactly what they need and nothing more, makes it easier to evolve APIs over time, and enables powerful developer tools." src="https://img.shields.io/badge/-GraphQL-E10098?style=flat-square&logo=GraphQL&logoColor=white" /></a>
  <a href="https://www.rust-lang.org/" target="_blank" rel="noopener noreferrer"><img alt="Rust: A language empowering everyone to build reliable and efficient software." src="https://img.shields.io/badge/-Rust-B7410E?style=flat-square&logo=Rust&logoColor=white" /></a>
  <a href="https://pytorch.org/" target="_blank" rel="noopener noreferrer"><img alt="PyTorch: FROM RESEARCH TO PRODUCTION - An open source machine learning framework that accelerates the path from research prototyping to production deployment." src="https://img.shields.io/badge/-PyTorch-EE4C2C?style=flat-square&logo=PyTorch&logoColor=white" /></a>
  <a href="https://julialang.org/" target="_blank" rel="noopener noreferrer"><img alt="Julia is a high-level, high-performance, dynamic programming language. While it is a general-purpose language and can be used to write any application, many of its features are well suited for numerical analysis and computational science." src="https://img.shields.io/badge/-Julia-9558B2?style=flat-square&logo=Julia&logoColor=white" /></a>
  <a href="https://www.kaggle.com/" target="_blank" rel="noopener noreferrer"><img alt="Kaggle: Your Machine Learning and Data Science Community" src="https://img.shields.io/badge/-Kaggle-20BEFF?style=flat-square&logo=Kaggle&logoColor=white" /></a>
  <a href="https://kubernetes.io/" target="_blank" rel="noopener noreferrer"><img alt="Kubernetes, also known as K8s, is an open-source system for automating deployment, scaling, and management of containerized applications." src="https://img.shields.io/badge/-Kubernetes-326CE5?style=flat-square&logo=Kubernetes&logoColor=white" /></a>
  <a href="https://www.blender.org/" target="_blank" rel="noopener noreferrer"><img alt="blender: Free and Open 3D Creation Software" src="https://img.shields.io/badge/-Blender-F5792A?style=flat-square&logo=Blender&logoColor=white" /></a>
  <a href="https://unity.com/" target="_blank" rel="noopener noreferrer"><img alt="Unity Real-Time Development Platform | 3D, 2D VR & AR Engine" src="https://img.shields.io/badge/-unity-000000?style=flat-square&logo=unity&logoColor=white" /></a>
  <a href="https://deno.land/" target="_blank" rel="noopener noreferrer"><img alt="Deno - A secure runtime for JavaScript and TypeScript" src="https://img.shields.io/badge/-Deno-993399?style=flat-square&logo=Deno&logoColor=white" /></a>
</p>

### Favorites

<p align="center">
  <a href="https://www.microsoft.com/en-gb/windows/" target="_blank" rel="noopener noreferrer"><img alt="Microsoft Windows, commonly referred to as Windows, is a group of several proprietary graphical operating system families, all of which are developed and marketed by Microsoft. " src="https://img.shields.io/badge/-Windows-0078D6?style=flat-square&logo=Windows&logoColor=white" /></a>
  <a href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer"><img alt="Visual Studio Code - Code Editing. Redefined" src="https://img.shields.io/badge/-Visual%20Studio%20Code-007ACC?style=flat-square&logo=Visual%20Studio%20Code&logoColor=white" /></a>
  <a href="https://github.com/features/actions" target="_blank" rel="noopener noreferrer"><img alt="Github Actions: Automate your workflow from idea to production" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" /></a>
  <a href="https://ubuntu.com/" target="_blank" rel="noopener noreferrer"><img alt="Ubuntu: Enterprise Open Source and Linux" src="https://img.shields.io/badge/-Ubuntu-E95420?style=flat-square&logo=Ubuntu&logoColor=white" /></a>
  <a href="https://www.gnu.org/software/bash/" target="_blank" rel="noopener noreferrer"><img alt="Bash is the GNU Project's shell—the Bourne Again SHell." src="https://img.shields.io/badge/-GNU%20Bash-4EEA25?style=flat-square&logo=GNU%20Bash&logoColor=white" /></a>
  <a href="https://jupyter.org/" target="_blank" rel="noopener noreferrer"><img alt="JupyterLab is a web-based interactive development environment for Jupyter notebooks, code, and data. " src="https://img.shields.io/badge/-Jupyter%20Lab-F37626?style=flat-square&logo=Jupyter&logoColor=white" /></a>
  <a href="https://eslint.org/" target="_blank" rel="noopener noreferrer"><img alt="ESLint: Find and fix problems in your JavaScript code" src="https://img.shields.io/badge/-ESLint-4B32C3?style=flat-square&logo=ESLint&logoColor=white" /></a>
  <a href="https://prettier.io/" target="_blank" rel="noopener noreferrer"><img alt="Prettier: Opinionated Code Formatter" src="https://img.shields.io/badge/-Prettier-E7B93E?style=flat-square&logo=Prettier&logoColor=white" /></a>
  <a href="https://www.python.org/" target="_blank" rel="noopener noreferrer"><img alt="Python is a programming language that lets you work quickly and integrate systems more effectively." src="https://img.shields.io/badge/-Python-3776AB?style=flat-square&logo=Python&logoColor=white" /></a>
  <a href="https://mattermost.com/" target="_blank" rel="noopener noreferrer"><img alt="Mattermost: Open-source, high-trust, developer-centric collaboration platform" src="https://img.shields.io/badge/-MatterMost-0072C6?style=flat-square&logo=MatterMost&logoColor=white" /></a>
  <a href="https://www.revolut.com/" target="_blank" rel="noopener noreferrer"><img alt="Revolut: A better way to handle your money" src="https://img.shields.io/badge/-Revolut-0075EB?style=flat-square&logo=Revolut&logoColor=white" /></a>
  <a href="https://www.spotify.com/" target="_blank" rel="noopener noreferrer"><img alt="With Spotify, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more." src="https://img.shields.io/badge/-Spotify-1ED760?style=flat-square&logo=Spotify&logoColor=white" /></a>
  <a href="https://soundcloud.com/" target="_blank" rel="noopener noreferrer"><img alt="SoundCloud – Listen to free music and podcasts on SoundCloud" src="https://img.shields.io/badge/-SoundCloud-FF3300?style=flat-square&logo=SoundCloud&logoColor=white" /></a>
  <a href="https://www.netflix.com/" target="_blank" rel="noopener noreferrer"><img alt="Netflix: Watch TV Shows Online, Watch Movies Online" src="https://img.shields.io/badge/-Netflix-000000?style=flat-square&logo=Netflix&logoColor=%23E50914" /></a>
  <a href="https://about.me/" target="_blank" rel="noopener noreferrer"><img alt="about.me: your personal homepage" src="https://img.shields.io/badge/-About.me-00A98F?style=flat-square&logo=About.me&logoColor=white" /></a>
  <a href="https://www.pixiv.net/" target="_blank" rel="noopener noreferrer"><img alt="pixiv is an illustration community service where you can post and enjoy creative work." src="https://img.shields.io/badge/-Pixiv-0096FA?style=flat-square&logo=Pixiv&logoColor=white" /></a>
  <a href="https://www.animal-crossing.com/new-horizons/" target="_blank" rel="noopener noreferrer"><img alt="Animal Crossing: New Horizons is a life simulation game developed and published by Nintendo for the Nintendo Switch. " src="https://img.shields.io/badge/-Animal%20Crossing-E60012?style=flat-square&logo=Nintendo%20Switch&logoColor=white" /></a>
  <a href="https://www8.hp.com/" target="_blank" rel="noopener noreferrer"><img alt="HP Inc. is an American multinational information technology company headquartered in Palo Alto, California, that develops personal computers (PCs), printers and related supplies, as well as 3D printing solutions." src="https://img.shields.io/badge/-HP-0096D6?style=flat-square&logo=HP&logoColor=white" /></a>
</p>

### Why don't you visit Japan ?

<p align="center">
  <a href="{{img1}}" target="_blank" rel="noopener noreferrer"><img width="25%" src="{{img1}}" /></a>
  <a href="{{img2}}" target="_blank" rel="noopener noreferrer"><img width="25%" src="{{img2}}" /></a>
  <a href="{{img3}}" target="_blank" rel="noopener noreferrer"><img width="25%" src="{{img3}}" /></a>
</p>

<p align="center">
  Above are the last 3 pictures posted by <a href="https://www.instagram.com/visitjapanjp/" target="_blank" rel="noopener noreferrer">@VisitJapanJP</a> <a href="https://www.instagram.com/visitjapanjp/" target="_blank" rel="noopener noreferrer"><img alt="Instagram" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="20"/></a>
</p>

### Where to find me

<p align="center">
  <a href="https://zenn.dev/ningensei848" target="_blank" rel="noopener noreferrer"><img alt="Zenn.dev: Modern Knowledge Base for Developers" src="https://img.shields.io/badge/zenn.dev-%233ea8ff.svg?&style=for-the-badge&logo=Zenn&logoColor=white" /></a>
  <a href="https://github.com/Ningensei848" target="_blank" rel="noopener noreferrer"><img alt="Github is how people build software" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a>
  <a href="https://qiita.com/Ningensei848" target="_blank" rel="noopener noreferrer"><img alt="Qiita: How developers code is here. Qiitaは、プログラミングに関する知識を記録・共有するためのサービスです。" src="https://img.shields.io/badge/Qiita-%2355c500.svg?&style=for-the-badge&logo=Qiita&logoColor=white" /></a>
  <a href="https://twitter.com/Ningensei848" target="_blank" rel="noopener noreferrer"><img alt="Twitter is what’s happening in the world and what people are talking about right now." src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a>
  <a href="https://scrapbox.io/Ningensei848" target="_blank" rel="noopener noreferrer"><img alt="Scrapbox - A knowledge base built for infinite ideas" src="https://img.shields.io/badge/scrapbox-%23A5A5A5.svg?&style=for-the-badge&logo={{logo_scrapbox}}" /></a>
  <a href="https://note.com/ningensei848" target="_blank" rel="noopener noreferrer"><img alt="note ――つくる、つながる、とどける。" src="https://img.shields.io/badge/note.com-%2341C9B4.svg?&style=for-the-badge&logo={{logo_note_dotcom}}" /></a>
  <a href="https://atcoder.jp/users/ningensei848" target="_blank" rel="noopener noreferrer"><img alt="AtCoder：競技プログラミングコンテストを開催する国内最大のサイト" src="https://img.shields.io/badge/AtCoder-%23808080.svg?&style=for-the-badge&logo={{logo_atcoder}}" /></a>
  <a href="https://ningensei848.hatenablog.com/" target="_blank" rel="noopener noreferrer"><img alt="気合でなんとか: @Ningensei848 が頑張った記録 | はてなブログ" src="https://img.shields.io/badge/Hatena-%233d3d3d.svg?&style=for-the-badge&logo={{logo_hatena}}" /></a>
  <a href="https://utakatanka.jp/kajin/1985" target="_blank" rel="noopener noreferrer"><img alt="Utakata: 短歌を投稿できるサイト" src="https://img.shields.io/badge/Utakata-%230095d9.svg?&style=for-the-badge&logo={{logo_utakata}}" /></a>
</p>

---

<p align="center">
  This <i>README</i> file is generated everyday!<br />
  Last refresh: {{refresh_date}}<br />
</p>

<!--
cf. https://simpleicons.org/
-->
