# <img src="https://emojis.slackmojis.com/emojis/images/1531847550/4232/blob-devil.gif?1531847550" width="40" /> Hey there, I'm Kubokawa - aka _Kiai_

Welcome to my page!
I'm Kubokawa, Student developer from Tsukuba, Japan.

### Skills

<p>
    <img alt="Next.js" src="https://img.shields.io/badge/-NextJs-192b9f?style=flat-square&logo=Next.js&logoColor=white" />
    <img alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" />
    <img alt="redux" src="https://img.shields.io/badge/-Redux-764ABC?style=flat-square&logo=redux&logoColor=white" />
    <img alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white" />
    <img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
    <img alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
    <img alt="FastAPI" src="https://img.shields.io/badge/-FastAPI-009688?style=flat-square&logo=FastAPI&logoColor=white" />
    <img alt="Django" src="https://img.shields.io/badge/-Django-092E20?style=flat-square&logo=Django&logoColor=white" />
<!--     <img alt="Google Cloud Platform" src="https://img.shields.io/badge/-Google_Cloud_Platform-1a73e8?style=flat-square&logo=google-cloud&logoColor=white" />
    <img alt="d3js" src="https://img.shields.io/badge/-D3.js-F9A03C?style=flat-square&logo=d3.js&logoColor=white" />
    <img alt="Styled Components" src="https://img.shields.io/badge/-Styled_Components-db7092?style=flat-square&logo=styled-components&logoColor=white" /> 
    <img alt="NGINX" src="https://img.shields.io/badge/-NGINX-269539?style=flat-square&logo=NGINX&logoColor=white" />
-->
</p>

[![](https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/0-profile-details.svg)](https://github.com/vn7n24fzkq/github-profile-summary-cards)
[![](https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/1-repos-per-language.svg)](https://github.com/vn7n24fzkq/github-profile-summary-cards)
[![](https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/2-most-commit-language.svg)](https://github.com/vn7n24fzkq/github-profile-summary-cards)


### Interests

<p align="center">
  <img alt="Semantic%20Web" src="https://img.shields.io/badge/-Semantic%20Web-005A9C?style=flat-square&logo=Semantic%20Web&logoColor=white" />
  <img alt="GraphQL" src="https://img.shields.io/badge/-GraphQL-E10098?style=flat-square&logo=GraphQL&logoColor=white" />
  <img alt="RustLang" src="https://img.shields.io/badge/-Rust-B7410E?style=flat-square&logo=Rust&logoColor=white" />
  <img alt="PyTorch" src="https://img.shields.io/badge/-PyTorch-EE4C2C?style=flat-square&logo=PyTorch&logoColor=white" />
  <img alt="JuliaLang" src="https://img.shields.io/badge/-Julia-9558B2?style=flat-square&logo=Julia&logoColor=white" />
  <img alt="Kaggle" src="https://img.shields.io/badge/-Kaggle-20BEFF?style=flat-square&logo=Kaggle&logoColor=white" />
  <img alt="Kubernetes" src="https://img.shields.io/badge/-Kubernetes-326CE5?style=flat-square&logo=Kubernetes&logoColor=white" />
  <img alt="Blender" src="https://img.shields.io/badge/-Blender-F5792A?style=flat-square&logo=Blender&logoColor=white" />
  <img alt="unity" src="https://img.shields.io/badge/-unity-000000?style=flat-square&logo=unity&logoColor=white" />
  <img alt="Deno" src="https://img.shields.io/badge/-Deno-993399?style=flat-square&logo=Deno&logoColor=white" />
  <img alt="GoLang" src="https://img.shields.io/badge/-Golang-00ADD8?style=flat-square&logo=Go&logoColor=white" />
  <img alt="Apache%20Cassandra" src="https://img.shields.io/badge/-Apache%20Cassandra-1287B1?style=flat-square&logo=Apache%20Cassandra&logoColor=white"/>
</p>

### Favorites

<p align="center">
  <img alt="Windows" src="https://img.shields.io/badge/-Windows-0078D6?style=flat-square&logo=Windows&logoColor=white" />
  <img alt="Visual%20Studio%20Code" src="https://img.shields.io/badge/-Visual%20Studio%20Code-007ACC?style=flat-square&logo=Visual%20Studio%20Code&logoColor=white" />
  <img alt="github actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" />
  <img alt="Ubuntu" src="https://img.shields.io/badge/-Ubuntu-E95420?style=flat-square&logo=Ubuntu&logoColor=white" />
  <img alt="GNU%20Bash" src="https://img.shields.io/badge/-GNU%20Bash-4EEA25?style=flat-square&logo=GNU%20Bash&logoColor=white" />
  <img alt="Jupyter%20Lab" src="https://img.shields.io/badge/-Jupyter%20Lab-F37626?style=flat-square&logo=Jupyter&logoColor=white" />
  <img alt="ESLint" src="https://img.shields.io/badge/-ESLint-4B32C3?style=flat-square&logo=ESLint&logoColor=white" />
  <img alt="Prettier" src="https://img.shields.io/badge/-Prettier-E7B93E?style=flat-square&logo=Prettier&logoColor=white" />
  <img alt="Python" src="https://img.shields.io/badge/-Python-3776AB?style=flat-square&logo=Python&logoColor=white" />
  <img alt="MatterMost" src="https://img.shields.io/badge/-MatterMost-0072C6?style=flat-square&logo=MatterMost&logoColor=white" />
  <img alt="Revolut" src="https://img.shields.io/badge/-Revolut-0075EB?style=flat-square&logo=Revolut&logoColor=white" />
  <img alt="Spotify" src="https://img.shields.io/badge/-Spotify-1ED760?style=flat-square&logo=Spotify&logoColor=white" />
  <img alt="SoundCloud" src="https://img.shields.io/badge/-SoundCloud-FF3300?style=flat-square&logo=SoundCloud&logoColor=white" />
  <img alt="Netflix" src="https://img.shields.io/badge/-Netflix-000000?style=flat-square&logo=Netflix&logoColor=%23E50914" />
  <img alt="niconico" src="https://img.shields.io/badge/-niconico-231815?style=flat-square&logo=niconico&logoColor=white" />
  <img alt="About.me" src="https://img.shields.io/badge/-About.me-00A98F?style=flat-square&logo=About.me&logoColor=white" />
  <img alt="Pixiv" src="https://img.shields.io/badge/-Pixiv-0096FA?style=flat-square&logo=Pixiv&logoColor=white" />
  <img alt="Animal%20Crossing" src="https://img.shields.io/badge/-Animal%20Crossing-E60012?style=flat-square&logo=Nintendo%20Switch&logoColor=white" />
  <img alt="HP" src="https://img.shields.io/badge/-HP-0096D6?style=flat-square&logo=HP&logoColor=white" />
</p>

### Why don't you visit <img src="https://www.flaticon.com/premium-icon/icons/svg/2299/2299972.svg" width="50"/> Japan ?


<p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>

<p>
  Above are the last 3 pictures posted by <a href="https://www.instagram.com/visitjapanjp/" target="_blank">@visitjapanjp !</a>
</p>

### Where to find me

<p>
  <a href="https://zenn.dev/ningensei848" target="_blank"><img alt="Zenn.dev" src="https://img.shields.io/badge/zenn.dev-%233ea8ff.svg?&style=for-the-badge&logo=Zenn&logoColor=white" /></a> 
  <a href="https://github.com/Ningensei848" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a>
  <a href="https://qiita.com/Ningensei848" target="_blank"><img alt="Qiita" src="https://img.shields.io/badge/Qiita-%2355c500.svg?&style=for-the-badge&logo=Qiita&logoColor=white" /></a> 
  <a href="https://twitter.com/Ningensei848" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a> 
</p>

------------

<p align="center">
  This <i>README</i> file is generated everyday!<br />
  Last refresh: {{refresh_date}}<br />
</p>

<!--
cf. https://simpleicons.org/
-->
