# <img src="https://emojis.slackmojis.com/emojis/images/1531847550/4232/blob-devil.gif?1531847550" width="40" /> Hey there, I'm Kubokawa - aka _Kiai_

<p>
    <img alt="Next.js" src="https://img.shields.io/badge/-NextJs-192b9f?style=flat-square&logo=Next.js&logoColor=white" />
    <img alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" />
    <img alt="redux" src="https://img.shields.io/badge/-Redux-764ABC?style=flat-square&logo=redux&logoColor=white" />
    <img alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white" />
    <img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
    <img alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
    <img alt="FastAPI" src="https://img.shields.io/badge/-FastAPI-009688?style=flat-square&logo=FastAPI&logoColor=white" />
    <img alt="Django" src="https://img.shields.io/badge/-Django-092E20?style=flat-square&logo=Django&logoColor=white" />
<!--     <img alt="Google Cloud Platform" src="https://img.shields.io/badge/-Google_Cloud_Platform-1a73e8?style=flat-square&logo=google-cloud&logoColor=white" />
    <img alt="github actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" />
    <img alt="d3js" src="https://img.shields.io/badge/-D3.js-F9A03C?style=flat-square&logo=d3.js&logoColor=white" />
    <img alt="Styled Components" src="https://img.shields.io/badge/-Styled_Components-db7092?style=flat-square&logo=styled-components&logoColor=white" /> -->
</p>

[![](https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/0-profile-details.svg)](https://github.com/vn7n24fzkq/github-profile-summary-cards)
[![](https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/1-repos-per-language.svg)](https://github.com/vn7n24fzkq/github-profile-summary-cards)
[![](https://raw.githubusercontent.com/Ningensei848/Ningensei848/main/profile-summary-card-output/github/2-most-commit-language.svg)](https://github.com/vn7n24fzkq/github-profile-summary-cards)

### Where to find me
<p>
  <a href="https://zenn.dev/ningensei848" target="_blank"><img alt="Zenn.dev" src="https://img.shields.io/badge/zenn.dev-%233ea8ff.svg?&style=for-the-badge&logo=Zenn&logoColor=white" /></a> 
  <a href="https://github.com/Ningensei848" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a>
  <a href="https://qiita.com/Ningensei848" target="_blank"><img alt="Qiita" src="https://img.shields.io/badge/Qiita-%2355c500.svg?&style=for-the-badge&logo=Qiita&logoColor=white" /></a> 
  <a href="https://twitter.com/Ningensei848" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a> 
</p>
------------
<p align="center">
  This <i>README</i> file is generated everyday!<br />
  Last refresh: {{refresh_date}}<br />
</p>
